.benefit_card {
  width: 25rem;
  height: 10.5rem;
  display: flex;
  background-color: #f3f4f6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
  transition: .4s ease transform;
}

.benefit_img {
  width: 20%;
  border-radius: 1.25rem 0 0 1.25rem;
  padding: 1rem;
}

.benefit_content {
  width: 80%;
  text-align: start;
  padding: 1.25rem;
}

.benefit_content h2 {
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
  color: #111827;
}

.benefit_content p {
  font-size: 1rem;
  color: #6b7280;
}

.benefit_card img {
  max-height: 100%;
  max-width: 100%;
}
