.roadmap_card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  border-radius: 1.25rem;
  width: 20rem;
  height: 12rem;
  transition: .4s ease transform;
}

.roadmap_card h2 {
  height: 0;
  font-weight: 600;
  font-size: 1.45rem;
}

.roadmap_card p {
  font-size: 6rem;
}

.roadmap_card img {
  max-height: 60%;
}

.roadmap_advisor {
  font-weight: 300;
  font-style: italic;
}

.roadmap_card_header {
  height: 40%;
}
