.auth_page {
  background-color: #f8fafc;
  max-width: 100vw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 2rem 0;
}

.auth_container {
  background-color: #fff;
  width: 30rem;
  max-width: 100%;
  min-width: 20rem;
  height: fit-content;
  padding: 2rem;
}

.auth_container h2 {
  font-size: clamp(2.5rem, 3.3241vw + 1.0069rem, 3.5rem);
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
}

.auth_input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.auth_input_wrapper:not(:first-child) {
  margin-top: 2rem;
}

.auth_input_wrapper label {
  font-size: 1.2rem;
}

.auth_input_wrapper input {
  padding: 0.8rem;
  outline: none;
  border: none;
  background-color: #f8fafc;
  border-bottom: 1px solid #b9b8b8;
}

.auth_input_wrapper input:focus {
  border-bottom: 1px solid #333;
}

.submit_form_btn {
  margin: 2rem auto;
  width: 100%;
  padding: 1rem;
  background-color: #3b82f6;
  transition: 0.4s ease background-color;
  color: #fff;
  border: none;
}

.submit_form_btn:hover {
  background-color: #2563eb;
}

.divider_wrapper {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.divider_line {
  height: 1px;
  background-color: #999;
  width: 35%;
}

.account_link {
  text-align: center;
}

.account_link a {
  color: #999;
  text-decoration: underline;
}

.account_link a:hover {
  color: #000;
}

.auth_social_btn {
  margin: 2rem auto;
  width: 100%;
  background-color: #fff;
  border: 1px solid #d1d5db;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  transition: .4s ease border;
}

.auth_social_btn:hover {
  border: 1px solid #333;
}

.auth_social_btn span {
  font-size: 1rem;
}

.auth_social_btn img {
  max-width: 1.5rem;
}
