.user_greetings_container {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.user_greetings_container p {
  font-size: 1.2rem;
}

.user_greetings_container button {
  padding: 0.8rem 1.2rem;
  background-color: #10b981;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2rem;
  transition: 0.4s ease opacity;
}

.user_greetings_container button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 618px) {
  .user_greetings_container button {
    flex: 1;
  }
}
