.hero_section,
.benefits_wrapper,
.illustration,
.mini_roadmap_wrapper,
.call_to_action {
  width: 80vw;
  margin: 3.5rem auto;
  text-align: center;
}

.landing_header {
  height: 8rem;
  padding: 1.25rem clamp(0.4rem, 4.9861vw + -0.4896rem, 2rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing_logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.landing_logo img {
  max-width: 20%;
}

.landing_logo h1 {
  font-size: clamp(1.75rem, 4.9861vw + -0.4896rem, 3.25rem);
  font-weight: 400;
}

.user_options {
  display: flex;
  gap: 0.1rem;
}

.user_options a {
  background-color: #3b82f6;
  color: #fff;
  border: none;
  padding: 0.8rem;
  font-size: clamp(0.2rem, 4.9861vw + -0.4896rem, 1rem);
  cursor: pointer;
  min-width: fit-content;
}

.user_options a:hover,
.a:hover {
  opacity: 0.8;
}

.user_options a:first-child {
  border-radius: 0.4rem 0 0 0.4rem;
}

.user_options a:last-child {
  border-radius: 0 0.4rem 0.4rem 0;
}

.hero_section h2,
.call_to_action h2 {
  font-size: clamp(2.25rem, 4.9861vw + -0.4896rem, 4rem);
  font-style: italic;
  font-weight: 600;
  color: #111827;
}

.hero_section p {
  color: #6b7280;
  font-size: clamp(1.25rem, 4.9861vw + -0.4896rem, 2rem);
  font-weight: 600;
  width: fit-content;
  margin: 1rem auto;
}

.call_button {
  background-color: #3b82f6;
  padding: 1rem 2rem;
  font-size: clamp(1rem, 4.9861vw + -0.4896rem, 1.5rem);
  border-radius: 0.4rem;
  border: none;
  color: #fff;
  cursor: pointer;
}

.benefits_wrapper h2,
.mini_roadmap_wrapper h2 {
  font-size: clamp(2.25rem, 4.9861vw + -0.4896rem, 3rem);
  margin-bottom: 2rem;
  font-weight: 900;
}

.benefits_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.mini_roadmap_container {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.landing_footer {
  background-color: #111827;
  color: #fff;
  padding: 2rem;
}

.infos_footer {
  display: flex;
}

.landing_footer a {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s ease transform;
}
