.landing_header {
  height: 8rem;
  padding: 1.25rem clamp(0.4rem, 4.9861vw + -0.4896rem, 2rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing_logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.landing_logo img {
  max-width: 20%;
}

.landing_logo h1 {
  font-size: clamp(1.75rem, 4.9861vw + -0.4896rem, 3.25rem);
  font-weight: 400;
}

.user_options {
  display: flex;
  gap: 0.1rem;
}

.user_options button {
  background-color: #3b82f6;
  color: #fff;
  border: none;
  padding: 0.8rem;
  font-size: clamp(0.2rem, 4.9861vw + -0.4896rem, 1rem);
  cursor: pointer;
  min-width: fit-content;
}

.user_options button:hover,
.call_button:hover {
  opacity: 0.8;
}

.user_options button:first-child {
  border-radius: 0.4rem 0 0 0.4rem;
}

.user_options button:last-child {
  border-radius: 0 0.4rem 0.4rem 0;
}

.hero_section {
    width: 80vw;
    margin: 2rem auto;
    text-align: center;
}

.hero_section h2 {
    font-size: clamp(2.25rem, 4.9861vw + -0.4896rem, 4rem);
    font-style: italic;
    font-weight: 600;
    color: #111827;
}

.hero_section p {
    color: #6B7280;
    font-size: clamp(1.25rem, 4.9861vw + -0.4896rem, 2rem);
    font-weight: 600;
    width: fit-content;
    margin: 1rem auto;
}

.call_button {
    background-color: #3b82f6;
    padding: 1rem 4rem;
    font-size: clamp(1rem, 4.9861vw + -0.4896rem, 1.5rem);
    border-radius: .4rem;
    border: none;
    color: #FFF;
    cursor: pointer;
}