.empty_notes_container {
  flex: 1;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.empty_notes_container img {
  max-width: 30rem;
}

.empty_notes_container p {
  text-align: center;
  font-size: clamp(1.2rem, calc(1.3296vw + 0.6028rem), 1.6rem);
}

.notes_grid {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
  gap: 1.6rem;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.creation_menu {
  position: relative;
  background: white;
  width: 100%;
  max-width: 31.25rem;
  max-height: 36rem;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.6rem;
}

.input_wrapper input,
textarea {
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid #999;
}

input[type="checkbox"],
label[for="favorite"] {
  cursor: pointer;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.input_wrapper.checkbox {
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
}

.colors_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.colors_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.color {
  width: 3rem;
  height: 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.4);
  transition: 0.4s ease scale;
}

.color:hover,
.active_color {
  scale: 1.2;
}

textarea {
  resize: none;
  height: 9rem;
}

.creation_menu h2 {
  font-size: 2rem;
  font-weight: 400;
}

.user_greetings_container button:hover {
  opacity: 0.5;
}

.label_error_state {
  color: #e73131;
}

.input_error_state {
  border: 1px solid #e73131 !important;
}

.input_error_state::placeholder {
  color: #e73131;
}

@media screen and (max-width: 618px) {
  .note {
    height: 40rem !important;
    padding: 1rem !important;
  }

  .empty_notes_container button {
    padding: 0.6rem 1rem;
  }

  .empty_notes_container img {
    max-width: 12rem;
  }
}
