
.empty_notes_container {
  flex: 1;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.empty_notes_container img {
  max-width: 100%;
}

.empty_notes_container p {
  text-align: center;
  font-size: clamp(1.2rem, calc(1.3296vw + 0.6028rem), 1.6rem);
}

.empty_notes_container button,
.creation_menu button {
  padding: 0.8rem 1.2rem;
  background-color: #10b981;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2rem;
  transition: 0.4s ease opacity;
}

.empty_notes_container button:hover,
.creation_menu button:hover {
  opacity: 0.5;
}

.notes_grid {
  width: 100%;
  height: fit-content;
  display: grid;
  margin-top: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
  gap: 1.6rem;
}

.note {
  max-width: 22rem;
  height: 20rem;
  padding: 2rem;
  border-radius: 0.6rem;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 5px 5px 1.2px rgba(0, 0, 0, 0.2);
}

.note_divider {
  height: 1px;
  width: 100%;
  background-color: #999;
  opacity: 0.4;
  margin-top: 1rem;
}

.note_title {
  font-size: 1.4rem;
}

.note_content {
  line-height: 1.4rem;
  margin-top: 2rem;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.creation_menu {
  position: relative;
  background: white;
  width: 100%;
  max-width: 500px;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 8px;
}

.close_overlay_btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.input_wrapper input,
textarea {
  padding: 0.8rem;
  border-radius: .4rem;
  border: 1px solid #999;
}

input[type="checkbox"], label[for="favorite"]  {
  cursor: pointer;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.input_wrapper.checkbox {
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
}

.colors_wrapper {
  display: flex;
  align-items: center;  
  justify-content: space-between;
}

.colors_container {
  display: flex;
  gap: 1rem;
}

.color {
  width: 3rem;
  height: 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.4);
  transition: .4s ease scale;
}

.color:hover,
.active_color {
  scale: 1.2;
}

textarea {
  resize: none;
  height: 9rem;
}

.creation_menu h2 {
  font-size: 2rem;
  font-weight: 400;
}

.user_greetings_container button {
  padding: 0.8rem 1.2rem;
  background-color: #10b981;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2rem;
  transition: 0.4s ease opacity;
}

.user_greetings_container button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 618px) {
  .empty_notes_container button {
    padding: 0.6rem 1rem;
  }
}
