.advice_message {
    margin: 0 auto;
    width: 40rem;
    max-width: 90%;
    height: fit-content;
    padding: 1.2rem;
    position: relative;
}

.advice_message::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: .4rem;
    height: 100%;
}

.error {
    background-color: #FEE2E2;
}

.error::before {
    background-color: #DC2626;
}

.success {
    background-color: #DCFCE7;
}

.success::before {
    background-color: #16A34A;
}