.content_component {
  grid-area: main;
  padding: 2rem;
  height: 100vh;
  overflow-y: scroll;
}

@media screen and (max-width: 618px) {
  .content_component {
    position: relative;
    padding: 1rem;
    padding-left: 6rem;
    z-index: 1;
  }
}
