.content_page {
  min-height: 100dvh;
  max-width: 100vw;
  background-color: #f9fafb;
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-areas:
    "sidebar main"
    "sidebar main"
    "sidebar main";
}

@media screen and (max-width: 618px) {
  .content_page {
    grid-template-columns: 0 1fr;
  }
}
