.note {
  max-width: 22rem;
  height: 30rem; /* mobile fica melhor height: 40rem; desktop fica melhor height: 30rem */
  padding: 2rem;
  border-radius: 0.6rem;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 5px 5px 1.2px rgba(0, 0, 0, 0.2);
}

.note_divider {
  height: 1px;
  width: 100%;
  background-color: #999;
  opacity: 0.4;
  margin-top: 1rem;
}

.note_title {
  overflow-wrap: break-word;
  font-size: 1.4rem;
  height: fit-content;
  max-width: 100% !important;
}

.note_content {
  line-height: 1.4rem;
  margin-top: 2rem;
  overflow-wrap: break-word;
}

.note_actions {
  display: flex;
  justify-content: space-between;
}

.delete_icon,
.favorite_icon {
  height: 2.8rem;
  width: 2.8rem;
  border: none;
  cursor: pointer;
  padding: 0.6rem;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.4s ease scale;
}

.delete_icon {
  background-color: #cf2b2c;
}

.favorite_icon {
  background-color: #fabd48;
}

.delete_icon:hover,
.favorite_icon:hover {
  scale: 1.1;
}

.delete_icon img,
.favorite_icon img {
  max-width: 100%;
}
