.sidebar,
.sidebar_hidden {
  background-color: #1f2937;
  color: #fff;
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: sidebar;
  position: relative;
  transition: 0.4s ease max-width;
  width: 15rem;
  max-width: 100%;
  z-index: auto;
}

/* escondendo os textos da sidebar */
.sidebar_hidden {
  padding: 2.5rem 1rem;
  width: 5rem;
}

.sidebar_hidden span,
.sidebar_hidden h2 {
  display: none;
}

.sidebar img:not(.sidebar_logo img) {
  max-width: 1.4rem;
}

.sidebar_hidden .toggle_sidebar_btn img {
  transform: rotate(-180deg);
}

.sidebar_hidden img:not(.sidebar_logo img) {
  max-width: 1.8rem;
}

.sidebar_hidden .sidebar_links a::before {
  display: none;
}

.sidebar_hidden .sidebar_links a {
  padding: 0.6rem;
}

.sidebar_hidden .active_link {
  border: 1px solid white;
  border-radius: 50%;
}

/* AQUI termina a sidebar_hidden */

.home_logo {
  max-width: 1.2rem !important;
}

.sidebar_logo {
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar_logo h2 {
  font-size: 2rem;
  font-weight: 400;
}

.sidebar_logo img {
  width: 3rem;
  max-width: 100%;
}

.sidebar_links {
  list-style: none;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.sidebar_links a {
  color: #fff;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.sidebar_links a span {
  font-size: 1.2rem;
}

.sidebar_links a:hover::before {
  width: 100%;
}

.sidebar_links a:focus {
  outline: none;
}

.sidebar_links a:focus::before {
  width: 100%;
}

.sidebar_links a::before,
.active_link::before {
  content: "";
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.4s ease width;
}

.sidebar_links a::before {
  width: 0%;
}

.active_link::before {
  width: 100% !important; /* NÃO REMOVER O !important*/
}

.logout {
  padding: 0.6rem;
  background-color: transparent;
  font-size: 1.2rem;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: 0.4s ease background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.logout img {
  max-width: 1.2rem !important;
}

.logout:hover {
  background-color: #d41212;
}

.toggle_sidebar_btn {
  position: absolute;
  top: 50%;
  right: calc(-3.5rem / 2);
  transform: translateY(-50%);
  background-color: hsl(0, 0%, 95%);
  box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.35);
  height: 3.5rem;
  width: 3.5rem;
  border: none;
  border-radius: 50%;
  padding: 0.6rem;
}

.toggle_sidebar_btn:hover {
  background-color: hsl(0, 0%, 85%);
}

.toggle_sidebar_btn img {
  min-width: 100%;
}

/* haja gambiarra */
@media screen and (max-width: 618px) {
  .sidebar,
  .sidebar_hidden {
    grid-area: unset;
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
  }

  .sidebar {
    width: 100vw;
    z-index: 3;
  }

  .sidebar_hidden {
    width: 5rem;
    z-index: 3;
  }

  .sidebar_hidden .toggle_sidebar_btn {
    right: calc(-3.5rem / 2);
  }

  .toggle_sidebar_btn {
    right: 1rem;
    z-index: 4;
  }
}
